<html>
  <head>
    <title>Harp + Bootstrap Scss files</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="main.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <%- yield %>
    <footer>
      <p><a href="http://twitter.com/matt_jared" target="blank">Matt Jared</a> made this to get to playing with Bootstrap scss files quicker.<br />Code is on <a href="https://github.com/mattjared/harp-bootstrap-scss" target="blank">Github</a> along with documentation. Please submit a comment or PR to contribue.</p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>