<div class="jumbotron">
  <div class="container jumbotron">
    <h1>Welcome to Bootstrap!</h1>
    <h3>This is a boilerplate so you can quickly start playing with Harp and Bootstrap using Scss.</h3>
  </div>
</div>