<div class="jumbotron">
  <div class="container jumbotron">
    <h1>Welcome to Bootstrap!</h1>
    <h3>This is a boilerplate so you can quickly start playing with Harp and Bootstrap using Scss.</h3>
  </div>
</div>
<div class="container">
  <div class="col-lg-4">
    <h3>Cool</h3>
  </div>
  <div class="col-lg-4">
    <h3>Code</h3>
  </div>
  <div class="col-lg-4">
    <h3>Stuff</h3>
  </div>
</div>
<div class="container">
  <div class="col-lg-6 alert">
    <h3>stuff</h3>
  </div>
</div>